body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(112,184,67,1) 0%, rgba(0,212,255,1) 100%);
  color: rgb(177, 96, 163);
}

*, ::after, ::before {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

/* LOGOUT BUTTON */

.logout-button {
  margin-top: 4%;
}

button.button-logout {
  background-color: rgba(221, 216, 216, 0.938);
  border: none;
  color: rgb(10, 9, 9);
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
}


/* TASK LIST */

.task-list {
  border: solid;
  border-width: thin;
  border-style: groove;
  border-color: rgb(165, 85, 145);
  border-radius: 1%;
  width: 30%;
  margin-top: 10%;
  padding-left: .5%;
  padding-right: .5%;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: rgb(255, 255, 255);
}

.tasks-subject-container {
  /* border-bottom: solid;
  border-color: rgb(143, 231, 143); */
  display: flex;
  flex-direction: column;
  align-content: center;
}

.task-item {
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: solid;
  border-width: thin;
  border-color: rgb(186, 231, 245);
  margin-top: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 4%;
  overflow: hidden;
}

.song-title-item {
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: solid;
  border-width: thin;
  border-color: chartreuse;
  overflow: hidden;
  /* width: 25%; */
}

.task-form {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: left;
}

input {
  background-color: #5d8677;
  color: white;
  border-color: rgb(147, 82, 153);
  width: 75%;
}

input:focus {
  background-color: rgb(73, 167, 61);
}



/* Profile Page */

.profile-home-page{
  border: solid;
  display: flex;
  height: 100vh;
}

.album-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;

  border: solid;
  border-color: red;

  margin-top: 10%;
  margin-left: 2%;
}

.profile-info-container {
  border: solid;
  width: 30%;
  margin-top: 10%;
}

button.song-button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
}

.add-song-button {
  margin-top: 7%;
  margin-bottom: 3%;
}



/* Album Page */

.album-container{
  border: solid;
  border-color: green;
  
  width: 100%;
}


.login-form {
  border: solid;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 25%;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}






h1 {
  font-size: 23px;
}

.form {
  width: 300px;
  padding: 64px 15px 24px;
  margin: 0 auto;
}
.form .control {
  margin: 0 0 24px;
}
.form .control input {
  width: 100%;
  padding: 14px 16px;
  border: 0;
  background: transparent;
  color: #fff;
  font-family: monospace, serif;
  letter-spacing: 0.05em;
  font-size: 16px;
}
.form .control input:hover, .form .control input:focus {
  outline: none;
  border: 0;
}
.form .btn {
  width: 100%;
  display: block;
  padding: 14px 16px;
  background: transparent;
  outline: none;
  border: 0;
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
}

.block-cube {
  position: relative;
}
.block-cube .bg-top {
  position: absolute;
  height: 10px;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #340979 37%, #00d4ff 94%);
  bottom: 100%;
  left: 5px;
  right: -5px;
  transform: skew(-45deg, 0);
  margin: 0;
}
.block-cube .bg-top .bg-inner {
  bottom: 0;
}
.block-cube .bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #340979 37%, #00d4ff 94%);
}
.block-cube .bg-right {
  position: absolute;
  background: #020024;
  background: #00d4ff;
  top: -5px;
  z-index: 0;
  bottom: 5px;
  width: 10px;
  left: 100%;
  transform: skew(0, -45deg);
}
.block-cube .bg-right .bg-inner {
  left: 0;
}
.block-cube .bg .bg-inner {
  transition: all 0.2s ease-in-out;
}
.block-cube .bg-inner {
  background: #212121;
  position: absolute;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
}
.block-cube .text {
  position: relative;
  z-index: 2;
}
.block-cube.block-input input {
  position: relative;
  z-index: 2;
}
.block-cube.block-input input:focus ~ .bg-right .bg-inner, .block-cube.block-input input:focus ~ .bg-top .bg-inner, .block-cube.block-input input:focus ~ .bg-inner .bg-inner {
  top: 100%;
  background: rgba(255, 255, 255, 0.5);
}
.block-cube.block-input .bg-top,
.block-cube.block-input .bg-right,
.block-cube.block-input .bg {
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.2s ease-in-out;
}
.block-cube.block-input .bg-right .bg-inner,
.block-cube.block-input .bg-top .bg-inner {
  transition: all 0.2s ease-in-out;
}
.block-cube.block-input:focus .bg-top,
.block-cube.block-input:focus .bg-right,
.block-cube.block-input:focus .bg, .block-cube.block-input:hover .bg-top,
.block-cube.block-input:hover .bg-right,
.block-cube.block-input:hover .bg {
  background: rgba(255, 255, 255, 0.8);
}
.block-cube.block-cube-hover:focus .bg .bg-inner, .block-cube.block-cube-hover:hover .bg .bg-inner {
  top: 100%;
}

.credits {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 15px 15px;
  width: 100%;
  z-index: 111;
}
.credits a {
  opacity: 0.6;
  color: #fff;
  font-size: 11px;
  text-decoration: none;
}
.credits a:hover {
  opacity: 1;
}
